{% load static_cdn %}
{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="{% static_cdn 'site.webmanifest' %}"> -->
    <link rel="apple-touch-icon" href="{% static_cdn 'icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static_cdn 'favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static_cdn 'favicon.ico' %}">

    <!-- Place favicon.ico in the root directory -->

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <h1>Hello world</h1>
    <h4>static images</h4>
    <img src="{% static_cdn 'tile.png' %}" alt="">
    <h4>public images</h4>
    {% for instance in public_images %}
        <img src="{{ instance.image.url }}" alt="">
    {% endfor %}
    <h4>private images</h4>
    {% for instance in private_images %}
        <img src="{{ instance.image.url }}" alt="">
    {% endfor %}
</body>

</html>